<div class="profile-wrapper">
    <div class="profile-left">
        <div class="profile-photo-wrapper">
            <img ng-src="{{'/img/'+level+'_profile.png'}}" class="profile-photo">
        </div>
        <div class="profile-name">
            {{user.name}}<br>
            <span class="help-block" style="font-size: 70%">You are logged in as a {{level}}</span>
        </div>
        <div ng-if="level === 'student'" class="profile-info">
            Grade: <span class="profile-info-resize">{{user.grade}}</span> <br>
            Group: <span class="profile-info-resize">{{user.student_group}}</span><br>
            GPA: <span class="profile-info-resize">{{userParam}}</span>
        </div>
        <div class="profile-buttons">
            <div ng-show="level === 'student'">
                <div class="profile-button cursor-pointer" ng-class="{'profile-button-clicked': stState === 'courses'}" ng-click="changeState('courses')">
                    Courses I'm learning
                </div>
                <div class="profile-button cursor-pointer" ng-class="{'profile-button-clicked': stState === 'marks'}" ng-click="changeState('marks')">
                    My marks
                </div>
                <div class="profile-button cursor-pointer" ng-class="{'profile-button-clicked': stState === 'group'}" ng-click="changeState('group')">
                    My group
                </div>
            </div>
            <div ng-show="level === 'teacher'">
                <div class="profile-button cursor-pointer" ng-class="{'profile-button-clicked': stState === 'courses'}" ng-click="changeState('courses')">
                    Courses I'm teaching
                </div>
                <div class="profile-button cursor-pointer" ng-class="{'profile-button-clicked': stState === 'add_mark'}" ng-click="changeState('add_mark')">
                    Add new mark
                </div>
                <div class="profile-button cursor-pointer" ng-class="{'profile-button-clicked': stState === 'journal'}" ng-click="changeState('journal')">
                    Journal
                </div>
            </div>
        </div>
    </div>
</div>